.App {
  text-align: center;
  padding-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.slider-container {
  padding: 40px;
}

.ant-slider-mark-text {
  font-size: 8.5px;
}
svg {
  overflow: visible;
  display: block;
  width: 100%; /* ใช้เป็นเปอร์เซ็นต์ของพื้นที่ของ .wrapper */
  max-width: 1200px; /* กำหนดขนาดสูงสุด */
  height: auto; /* ให้ความสูงปรับขนาดตามอัตราส่วน */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
